@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Olaaf Rossi<br />
    Don't Call me :)<br />
</address>

<address>
    <strong>Email:</strong> <a href="mailto:olaaf.rossi@gmail.com">olaaf.rossi@gmail.com</a><br />
</address>
